* {
    margin:0px;
    padding:0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout:none;
    outline: none;
    -webkit-user-select: none;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
html{
    width: 100%;
    height: 100%;
}
body {
    font-family: Arial "Microsoft YaHei";
    background: white;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    width:100%;
    height: 100%;
    line-height: 1;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}
input[type="text"], input[type="password"], input[type="number"], input[type="search"],
input[type="email"], input[type="url"], input[type="color"], input[type="Date pickers"],
input[type="range"], select, textarea {
    -webkit-user-select: text;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: '';content: none;}
table { border-collapse: collapse;border-spacing: 0;}
a:active{text-decoration: none; color: #555;}
a:hover{text-decoration: none; color: #555;}
a:link{text-decoration: none; color: #555;}
.clear{ clear: both; }

/*--App---*/
#app{
    width: 100%;
    height: 100%;
    background: #F9F9F9;
    padding: 1px 20px 0px 20px;
}

.date-input{
    display: block;
    width: 90%;
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
    padding: 10px;
    font-size: 1.2em;
    color: rgb(0, 214, 255);
    text-align: center;
    border: solid 1px rgb(221, 221, 221);
    box-shadow: inset 2px 2px 3px 1px rgba(240, 240, 240, 0.7);
}
.date-btn{
    display: block;
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 1.5em;
    background: rgb(105, 221, 221);
    color: rgb(255, 255, 255);
}








