/*----日期选择组件----*/
.app-s-main{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 320px;
    border-top: solid 1px rgba(200, 200, 200, .8);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px -2px 3px 0px rgba(220, 220, 220, 0.6);
}
.app-s-top{
    height: 40px;
    border-bottom: solid 1px rgba(188, 188,188, .8);
    background: rgba(252, 252, 252, 1);
}
.app-s-top::after{
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
}
.app-s-top span{
    display: inline-block;
    width: 33%;
    height: 39px;
    line-height: 39px;
    font-size: 1.1em;
    text-align: center;
    color: rgb(0, 152, 206);
    background: rgba(252, 252, 252, 1);
    position: relative;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
}
.app-s-top span:hover,
.app-s-top span:active{
    color: #111;
    background: rgba(240, 240, 240, 0.6);
}
.app-s-top .app-s-btnCancel{
    float: left;
    /*margin-left: 20px;*/
}
.app-s-top .app-s-btnOk{
    float: right;
    /*margin-right: 20px;*/
}
.app-s-top .app-s-title{
    float: left;
    color: #333;
    font-weight: 700;
}

/*.app-s-top .app-s-btnCancel:after,
.app-s-top .app-s-btnOk:after{
    display: inline-block;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: 10px;
    left: 0px;
    content: "";
    background: rgba(240,240,240, .8);
}*/
.app-s-center{
    position: relative;
    height: 270px;
    overflow: hidden;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) ,rgba(0,0,0,0));
    -moz-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) ,rgba(0,0,0,0));
    -ms-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) ,rgba(0,0,0,0));
    -o-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) ,rgba(0,0,0,0));
}
.app-s-center ul {
    padding:0px;
    margin:0px;
    /*float: left;*/
    position: absolute;
}
.app-s-center ul li{
    color: rgb(50, 50, 50);
    /*display: block;*/
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
}
.app-s-center .app-center-current{
    /*position: absolute;
    top: 150px;
    left: 0px;*/
    margin-top: 120px;
    height: 40px;
    width: 100%;
    border: solid 1px rgba(200,200,200,0.8);
    border-width: 1px 0px;

    box-shadow: 0px 0px 20px 1px rgba(220,220,220,.3);
    -o-box-shadow: 0px 0px 20px 1px rgba(220,220,220,.3);
    -ms-box-shadow: 0px 0px 20px 1px rgba(220,220,220,.3);
    -moz-box-shadow: 0px 0px 20px 1px rgba(220,220,220,.3);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(220,220,220,.3);
}
.app-s-year-con, .app-s-month-con, .app-s-date-con{
    /*min-height: 280px;*/
}
.app-s-bottom {
    clear: both;
}